In [23]:
route='M15'

In [24]:
# NYCbuswatcher fetch all of the shipments for a particular route and load them in as BusObservations

In [25]:
!pip install requests pandas
import requests
import pandas as pd

Requirement already satisfied: requests in /opt/bin/miniconda3/envs/geo/lib/python3.7/site-packages (2.25.1)
Requirement already satisfied: pandas in /opt/bin/miniconda3/envs/geo/lib/python3.7/site-packages (1.2.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/bin/miniconda3/envs/geo/lib/python3.7/site-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/bin/miniconda3/envs/geo/lib/python3.7/site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/bin/miniconda3/envs/geo/lib/python3.7/site-packages (from requests) (1.26.5)
Requirement already satisfied: idna<3,>=2.5 in /opt/bin/miniconda3/envs/geo/lib/python3.7/site-packages (from requests) (2.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/bin/miniconda3/envs/geo/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/bin/miniconda3/envs/geo/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/bin/miniconda3/envs/geo/lib/python3.7/site-packages (from pandas) (1.20.2)
Requirement already satisfied: six>=1.5 in /opt/bin/miniconda3/envs/geo/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [26]:
base_url = 'http://api.buswatcher.org/api/v2/nyc'
shipments_for_route_url = '/{}'.format(route)

In [27]:
route_shipments_list = requests.get(base_url+shipments_for_route_url).json()

### load all Shipments for {route} into a pandas dataframe

In [28]:
rows=[]

In [29]:
for s in route_shipments_list['shipments']:
    shipment = requests.get(s['url']).json()
    for bus_dict in shipment['buses']:
        rows.append(bus_dict)

In [30]:
df = pd.DataFrame.from_dict(rows, orient='columns')
df['passenger_count'] = df['passenger_count'].fillna(0)

In [31]:
print('loaded {} buses from {} shipments for route {} into DataFrame: "df"'.format(len(rows),
                                                              len(route_shipments_list['shipments']),
                                                              route
                                                             ))

loaded 20192 buses from 39 shipments for route M15 into DataFrame: "df"

##### prevent table cell wrapping

In [33]:
%%html
<style>
.dataframe td {
    white-space: nowrap;
}
</style>

In [34]:
df.head()

,route,timestamp,route_long,direction,service_date,trip_id,gtfs_shape_id,route_short,agency,origin_id,...,next_stop_d,lat,lon,bearing,progress_rate,progress_status,vehicle_id,gtfs_block_id,next_stop_eta,passenger_count
0,M15,2021-06-17 21:58:34-04:00,MTA NYCT_M15,1,2021-06-17,MTA NYCT_OH_B1-Weekday-SDon-129200_M15_246,MTA_M150007,M15,MTA NYCT,MTA_401732,...,0.00,40.803182,-73.932486,157.238040,noProgress,layover,MTA NYCT_5901,MTA NYCT_OH_B1-Weekday-SDon_E_OH_23100_M15-217,NaN,0.0
1,M15,2021-06-17 21:58:43-04:00,MTA NYCT_M15,0,2021-06-17,MTA NYCT_OH_B1-Weekday-SDon-127900_M15_250,MTA_M150004,M15,MTA NYCT,MTA_803019,...,9.93,40.740499,-73.975897,53.660603,normalProgress,NaN,MTA NYCT_6035,MTA NYCT_OH_B1-Weekday-SDon_E_OH_21420_M15-214,2021-06-17T21:58:52.354-04:00,10.0
2,M15,2021-06-17 21:58:38-04:00,MTA NYCT_M15,1,2021-06-17,MTA NYCT_OH_B1-Weekday-SDon-121600_M15_256,MTA_M150007,M15,MTA NYCT,MTA_401732,...,NaN,40.701549,-74.012199,196.699250,noProgress,layover,MTA NYCT_5910,MTA NYCT_OH_B1-Weekday-SDon_E_OH_32700_M15-213,NaN,0.0
3,M15,2021-06-17 21:58:22-04:00,MTA NYCT_M15,0,2021-06-17,MTA NYCT_OH_B1-Weekday-SDon-124500_M15_239,MTA_M150005,M15,MTA NYCT,MTA_405359,...,12.75,40.803046,-73.932167,157.094220,noProgress,layover,MTA NYCT_5886,MTA NYCT_OH_B1-Weekday-SDon_E_OH_28620_M15-228,2021-06-17T21:58:52.354-04:00,0.0
4,M15,2021-06-17 21:58:41-04:00,MTA NYCT_M15,1,2021-06-17,MTA NYCT_OH_B1-Weekday-SDon-122600_M15_245,MTA_M150007,M15,MTA NYCT,MTA_401732,...,24.10,40.701608,-74.011920,191.821490,noProgress,layover,MTA NYCT_5912,MTA NYCT_OH_B1-Weekday-SDon_E_OH_24480_M15-219,2021-06-17T21:58:52.354-04:00,0.0